* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    display: flex;
    flex: 1;
}

.article {
    flex: 1;
}

.aside {
    flex: 0 0 20vw;
    background: beige;
}

.nav {
    background: #D7E8D4;
}

.header {
    display: flex;
    flex: 1;
    background: yellowgreen;
    height: 20vh;
}


.footer {
    display: flex;
    flex: 1;
    background: yellowgreen;
    height: 20vh;
}

.header, .footer, .article, .nav, .aside {
    padding: 1em;
}

.headerContent, .footerContent {
    flex: 1;
}

.header .headerLogin .image {
    display: none;
}

.navmenu {
    display: flex;
}

.navmenu li {
    display: block;
    padding: 5px 20px;
    min-width: 150px;
    border: 1px solid;
}