{{loadJSON 'page.footer.contents.json' 'page'}}
<div id="footerTop">
    <div class="container_16">
        <div class=" noprint">
            {{#repeat count=4}}
            <div class='grid_4'>
                {{!concat "argf" @index}}

                {{!render content=page.area.footerTop}}
                {{!render content=(area (obj name="footerTop" index=@index type="jnt:absoluteArea") )}}
                {{render content=(obj name=(concat "footerTop" @index) nodeType="jnt:absoluteArea")}}
                <div class='clear'></div>
            </div>
            {{/repeat}}
            <div class='clear'></div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container_16">
        <!--start grid_8-->
        <div class='grid_8'>
            {{!renderComponent name="footer-left" primaryNodeType="jnt:absoluteArea"}}
            <div class='clear'></div>
        </div>
        <!--stop grid_8-->
        <!--start grid_8-->
        <div class='grid_8'>
            {{!renderComponent name="footer-right" primaryNodeType="jnt:absoluteArea"}}
            <div class='clear'></div>
        </div>
        <!--stop grid_8-->
        <div class='clear'></div>
    </div>
</div>