
<h3>{{jcrGetProperty "jcr:title"}}</h3>
link to fullpage :  <br>
<div>http://localhost:8080{{jcrGetProperty "j:fullpath"}}.fullpage.html</div>
<a href="http://localhost:8080{{jcrGetProperty "j:fullpath"}}.fullpage.html"> Read more about this news </a>

<br>
<br>
<br>